{{ partial "header.html" . }}
<div class="article-meta">
<h1><span class="title">{{ .Title }}</span></h1>
{{ if .Params.date }}<span class="date">{{ .Date.Format "January 2, 2006" }}</span>{{ end }} by
{{ with .Params.author }}<span class="author">{{ . }}</span>{{ end }}
<p class="terms">
    {{ range $i := (slice) }}
    {{ with ($.Param $i) }}
    {{ $i | title }}: {{ range $k := . }}<a href="{{ relURL (print "/" $i "/" $k | urlize) }}">{{$k}}</a> {{ end }}
    {{ end }}
    {{ end }}
  </p>
</div>

<main>
{{ .Content }}
</main>

{{ partial "footer.html" . }}
